/* Global*/

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;;
  font-weight: 500;
  font-style: normal;
}
/*
img {
  min-width: 100%;
  height: auto;
}
*/

/* Variables */

/* header */

.main-header {
  background: rgba(0, 0, 0, 0.0001);
} /* Спросить */

.site-navigation, 
.cart-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.cart-navigation a {
  display: block;
  padding: 25px 20px;
}

.site-navigation a {
text-decoration: none;
color: #000000;
font-size: 16px;
line-height: 30px;
}

.cart-navigation a {
text-decoration: none;
color: #000000;
font-size: 16px;
line-height: 30px;
margin-right: 400px;
}

.site-navigation a 
.cart-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.cart-navigation a:hover {
 color: #FB565A;
}

.site-navigation a:focus,
.cart-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

/* description */

.description-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 30px;
}

.description-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0px;
  margin-bottom: 45px;
}

.button {
  font: inherit;
  background-color: #FB565A;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 14px 50px 23px 50px;
  text-transform: uppercase;
}

.button:focus {
  color: #FFFFFF;
  background-color: #FB565A;
  opacity: 0.3;
}

/* development */

.development {
  margin-bottom: 200px;
}

.button-application {
  background-color: #00CA74;
}

.button-presentation {
  background-color: #000000 0.01%;
}

.development-item h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.development-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.development-item {
  list-style: none;
}

/* slogon */

.slogan-title {
  font-size: 45px;
  line-height: 45px;
  color: #000000; 
}

.slogan-text {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.order {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: uppercase;
}

.orders-list {
  padding-left: 0;
}

.order-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  color: #283136;
}


.precisions {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.precisions-item {
  list-style: none;
}

.precisions-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.precisions-item {
  margin-right: 30px;
}

.precisions-item-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.precision-percent {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.logos-list {
  list-style: none;

}

/*Footer*/

.footer-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.footer-sale {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.social-button img {
background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}


/*catalog*/

.catalog-title {
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
}

.filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.filter-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
  list-style: none;
}

.btn-show {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.catalog-item-active {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.catalog-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

/*Grid*/ 

.page {
  height: 100%;
}

/* Logo */ /*grid*/

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*.main-navigation-color {
  background-color: #0fffff;
}*/

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  width: 1160px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 160px;
  height: 67px;
  margin-right: 200px;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}

.developments-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.developments-list p {
  margin-right: 40px;
}

.logos-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

/* Slogan */

.slogan {
display: grid;
grid-template-columns: 1.6fr 0.9fr;
}

/* logos */

.logos {
margin-top: 140px;
margin-bottom: 45px;
}

/* card */

/* main-footer */

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-left: 140px;
  margin-top: 70px;

}

.footer-text {
  padding: 0px;
  margin: 0px;
}

.footer-list {
  margin-right: 10px;
}

/* Global */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
  min-content
  1fr
  min-content;
  align-content: start;
}



/*catalog*/

.catalog {
  display: grid;
  grid-template-columns: 265px 1fr;
}

.nerds-catalog {
  margin-left: 190px;
}

.catalog-sort {
  display: flex;
}

.catalog-list {
  display: flex;
  padding: 0px;
  list-style-type: none;
}

.sort-title {
  margin-right: 265px;
}

.catalog-item, 
.catalog-item-active {
  margin-right: 25px;
}

.img-sort {
  margin-right: 20px;
} 

.catalog-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 60px;
}

.card-item {
  width: 362px;
  height: 620px; /*спросить*/
  margin-right: 40px;
  margin-top: 35px;
}

.card-item:nth-child(2n) {
  margin-right: 290px;
}

.products-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 50px;
}

.products-filter fieldset:first-child {
  margin-bottom: 43px;
}

.products-filter legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;

}

.products-filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
  color: #283136;
}

.products-filter li {
  margin-bottom: 25px;
}















