/* Global*/

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;;
  font-weight: 500;
  font-style: normal;
}
/*
img {
  min-width: 100%;
  height: auto;
}
*/

/* Variables */

/* header */

.main-header {
  background: rgba(0, 0, 0, 0.0001);
} /* Спросить */

.site-navigation {
  list-style: none;
}

.site-navigation a {
text-decoration: none;
color: #000000;
font-size: 16px;
line-height: 30px;
}

.cart-navigation a {
text-decoration: none;
color: #000000;
font-size: 16px;
line-height: 30px;
}

.site-navigation a 
.cart-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.cart-navigation a:hover {
 color: #FB565A;
}

.site-navigation a:focus,
.cart-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

/* description */

.description-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.description-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  font: inherit;
  background-color: #FB565A;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button:focus {
  color: #FFFFFF;
  background-color: #FB565A;
  opacity: 0.3;
}

/* development */

.button-application {
  background-color: #00CA74;
}

.button-presentation {
  background-color: #000000 0.01%;
}

.development-item h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.development-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slogan-title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.development-item {
  list-style: none;
}

/* slogon */

.slogan-text {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.order {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.order-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  color: #283136;
}

.precisions {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.precisions-item {
  list-style: none;
}

.precisions-item-percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.precision-percent {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.logos-list {
  list-style: none;

}

/*Footer*/

.footer-social {
  list-style: none;
}

.footer-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-sale {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.social-button img {
  
background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}


/*catalog*/

.catalog-title {
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.filter-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
}

.btn-show {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.catalog-item-active {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.catalog-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

/*Grid*/

.page {
  height: 100%;
}

/* Logo */

.main-navigation {
  display: grid;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  width: 1160px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 140px;
}





/* Global */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows:
  min-content
  1fr
  min-content;
  align-content: center;
}










